<h1>Retailer</h1>
<p><strong>Name:</strong> <%= @retailer.name %></p>
<p><strong>Location:</strong> <%= @retailer.location %></p>
<p><%= link_to 'Edit', edit_retailer_path(@retailer) %> |
   <%= link_to 'Back', retailers_path %></p>
